<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h2>Team Name: @team.name</h2>
   Team Name: <%= @team_info[:name] %>

   Coach:  <%= @team_info[:coach] %>

  Point Guard: <%= @team_info[:pg] %>
  Shooting Guard: <%= @team_info[:sg] %>
  Power Forward: <%= @team_info[:pf] %>
  Small Forward: <%= @team_info[:sf] %>
  Center: <%= @team_info[:c] %>


 </body>
</html>
